@font-face {
    font-family: 'Fleur';
    src: url(../FONT/FleurDeLeah-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'Sand';
    src: url(../FONT/Quicksand-VariableFont_wght.ttf) format("truetype");
}